/* DEFAULT */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug{
    border: 2px solid pink;
}

/* CONTAINER */
.container{
    text-align: center;
}

.post-card{
    padding: 10px;
}

/* COL */

.gray{
    background-color: #F8F9FA;
}

.darkgray{
    background-color: #6C757D;
    color: white;
}

.blue{
    background-color: #0D6EFD;
}

.green{
    background-color: #198754;
}

.red{
    background-color: #DC3545;
}